In [1]:
# w.a.p to append element ina list
names = ["Jimin", "Peter", "Bille", "Salena"]  
print('Current names List is:', names)  
new_name = input("Please enter a name:\n")  
names.append(new_name)  
print('Updated name List is:', names)

Current names List is: ['Jimin', 'Peter', 'Bille', 'Salena']
Please enter a name:
Justin
Updated name List is: ['Jimin', 'Peter', 'Bille', 'Salena', 'Justin']

In [4]:
# w.a.p to compair 2 lists
import collections  
list1 = [10, 20, 30, 40, 50, 60]  
list2 = [70, 20, 30, 50, 40, 70]  
list3 = [70, 10, 30, 20, 60, 40]  

list1.sort()  
list2.sort()  
list3.sort()  
  

if list1 == list2:  
    print("The list1 and list2 are the same")  
else:  
    print("The list1 and list3 are not the same")  

if list1 == list3:  
    print("The list1 and list2 are not the same")  
else:  
    print("The list1 and list2 are not the same")

The list1 and list3 are not the same
The list1 and list2 are not the same

In [6]:
# w.a.p to convert list to dictionary
student = ["Justin", "Abhinay", "Aditi", "Vicky"]  
std_dictionary = { stu : "Passed" for stu in student }    
print(std_dictionary)

{'Justin': 'Passed', 'Abhinay': 'Passed', 'Aditi': 'Passed', 'Vicky': 'Passed'}

In [8]:
# w.a.p to remove an element from list
lst = ['Selena', 'Bobby', 'Charlie', 'Ved', 'Joe']  
print("The list is: ", lst)  
lst.remove('Bobby')  
print("After removing element: ",lst)

The list is:  ['Selena', 'Bobby', 'Charlie', 'Ved', 'Joe']
After removing element:  ['Selena', 'Charlie', 'Ved', 'Joe']

In [10]:
# w.a.p to covert list to set
names = ["Glory", "Joe", "James", "Mark", "Bille", "James", "Steve", "Sara", "Andy", "Joseph"]  
unique_names = set(names)  
print(unique_names)

{'Sara', 'Joe', 'Steve', 'Mark', 'Andy', 'Bille', 'Glory', 'Joseph', 'James'}